@import url(./vendor/fonts/fonts.css);

/* automatic/manual light mode */
:root,
:root.light {
  --color-text-primary: #000;
  --color-bg-primary: #fff;
  --color-border: #000;
}

.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__title {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.2;
}

.calendar {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.calendar__month {
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}
.calendar__title {
  margin: 0;
  padding: 10px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}
.calendar__area {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 10px;
  column-gap: 2px;
}
.calendar__day {
  position: relative;
  padding: 8px;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}
.calendar__span {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  font-weight: 900;
  font-size: 32px;
}
.calendar__span:nth-of-type(1) {
  left: 0;
}
.calendar__span:nth-of-type(2) {
  left: 8px;
}
.calendar__span:nth-of-type(3) {
  left: 16px;
}
.calendar__span:nth-of-type(4) {
  left: 24px;
}

.form {
  display: flex;
  justify-content: center;
  max-width: 320px;
  padding: 20px 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 10px;
}
.form__button {
  border-radius: 8px;
}
.form__button_type_user-add {
  display: flex;
  margin: 0 auto;
}
.form__user {
  width: 280px;
  min-height: 120px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}
.form__username {
  display: inline;
  font-size: 16px;
}
.form__button_type_user-edit {
  display: inline;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-weight: 900;
}
.form__button_type_user-del {
  display: inline;
  background-color: red;
  border: 1px solid red;
  color: #fff;
  font-weight: 900;
}
.form__caption {
  display: block;
}
.form__button_type_vac-add {
  display: block;
  margin: 10px auto 0;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  font-weight: 900;
}
.form__vacation {
  margin: 10px auto;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #000;
}
.form__date {
  display: block;
  width: 160px;
  height: 28px;
}
.form__button_type_vac-apply {
  margin: 10px auto 0;
  background-color: green;
  border: 1px solid green;
  color: #fff;
  font-weight: 900;
}
.form__button_type_vac-del {
  margin: 10px auto 0;
  background-color: red;
  border: 1px solid red;
  color: #fff;
  font-weight: 900;
}

.footer {
  padding: 80px 0 40px;
  display: flex;
  margin: 0 auto;
}
.footer__title {
  margin: 0 auto;
  font-size: 12px;
}
